/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.title {
  padding-top: 4rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}

.badge {
  padding: 0.5rem 0.5rem;
}

.caption {
  margin-top: 2rem;
}

/* Download div with light backgourn color */
.download {
  padding-top: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
